export("read_sqlite",
       "read_jplace",
       "pplace_to_table",
       "pplace_to_matrix",
       "pplace_to_taxonomy",
       "sub_pplace",
       "refpkg",
       "plot.pplace",
       "print.pplace",
       "print.jplace",
       "print.protdb",
       "read_protdb",
       "write_jplace"
       )
import(ape)
import(RSQLite)
import(jsonlite)
import(plotrix)
import(phangorn)
importFrom("grDevices", "colorRamp", "rgb")
importFrom("graphics", "axis", "image", "layout", "par", "plot",
             "plot.new", "points", "text")
importFrom("stats", "aggregate")
importFrom("grDevices", "rainbow")
importFrom("grDevices", "col2rgb")
importFrom("stats", "quantile")
importFrom("utils", "read.csv")
importFrom("utils", "write.table")
S3method(print,protdb)
S3method(print,pplace)
S3method(print,jplace)
S3method(plot,pplace)




